
body {
    background-color:rgb(246, 248, 248);
    color: black; 
    padding: 0;
    margin: 0;
    font-family: serif;
    font-size: 18px;
    width: 100%;
    line-height: 25px;    
    
    
}
body h2{
    color: blue;
    font-size: 40px;
    padding-left: 30px;
}

header nav{
    background: white;
    width: 100%;
    font-weight:500px;
   
}
.ki img{
    width: 200px;
    height: 150px;
}
nav ul{
    float: right;
    margin-top: -80px;
}

nav ul li{
    list-style: none;
    padding: 10px;
    font-size: 30px;
    position: relative;
    display: inline-block;   
}
nav ul li a{
    text-decoration: none;
    padding: 10px;
    color: blue;
    line-height: 60%;
    display: block;
    position: relative;
   
}
nav ul li a:hover{
    color: red;
    padding: 10px;
    
}

nav ul ul{
    display: none;
    position: absolute;
     top: 140px;
     right: 0px;
    
}
nav ul li:hover > ul{
    display:block;
   
}
nav ul ul li{
    width: 250px;
    background: transparent;
    display:block;
    border-style: solid ;
    border-radius: 20px;
    margin: 5px;
}

nav ul ul ul li{
    position: relative;
    right: 330px;
    top: -70px;
    
}
nav .active{
    color: black;
}
.sec1, .sec2 {
    margin-left: 30px;
    padding-left: 10px;
    font-size: 16px; 
    border-left: solid red; 
    border-left-width: 15px;
    line-height: 25px;    
}
.bak H1{
    color: blue;
    font-size: 55px;
    margin-left: 30px;
    display: inline-flex;
    margin-bottom: -5px;
    
}
.sec3{
    margin-left: 30px;
    padding-left: 0px;
    font-size: 16px; 
    border-left: solid red; 
    border-left-width: 15px;
}
.sec3 ol li {
    padding: 0; 
}
.sec3 ol li li{
     list-style-type: square;
}
.sec4{
    margin-left: 30px;
    padding-left: 0px;
    font-size: 16px; 
    border-left: solid red; 
    border-left-width: 15px;
}
.sec4 ul li {
    padding: 0; 
}
.stuff img{
    width: 97%;
    padding-left: 30px;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #45a049;
}
section{
    padding-top: 50px;
    padding-left: 320px;
    align-content: center;
}
.contact{
    background-color: #f2f2f2;
    padding: 20px;
    width: 90%;
    max-width: 700px;
    box-shadow: 0px 0px 20px #00000010;
    border-radius: 8px;
    margin-bottom: 20px; 
}
.co{
    background-color: lightcoral;
    padding: 20px;
    margin: 0;
    text-align: center; 
        
}
.info{
    padding: 50px;
    text-align: center;
}
.info h2{
    color: black;
}
.med img{
    padding-left: 30px;
    width: 97%; 
}
.location{
    background-color: darkslategray;
    text-align: center;
    font-size: 30px;
    height: 200px;
    color: white;
    padding-top: 80px;
}

@keyframes layout{
    0%{background-color: aqua;}
    25%{background-color: yellow;}
    50%{background-color: dodgerblue;}
    75%{background-color: red;}
    100%{background-color: lawngreen;
    }
}
.layout{
    background-color: aqua;
    border-style: solid;
    border-color: brown;
    padding-left: 10px;
    width: 50%;
    border-radius: 10px;
    margin: 30px;
    animation-name: layout;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
.layout h2{
    font-size: 25px;
    color: #000;
}

.welc{
    border-radius: 20px;
    background-color: darksalmon;
    width: 45%;
    height: 80px;
    padding:10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-style: solid;
    transition: width 2s, height 4s, transform 2s;
}
.welc:hover {
    width:50%;
    height: 100px;
    background-color: dodgerblue;
}

footer{
    background:linear-gradient(to right, #00093C, #2d0b00);
    font-size: 30px;
    bottom: 0;
    padding: 100px 0 30px;
    margin: 0;
    width: 100%;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
}
.row{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.loggo{
    width: 80px;
    margin-bottom: 30px;
}
.col h3{
    width:fit-content;
    color: yellow;
    font-size: 30px;
}
.col ul li{
    list-style: none;
    margin-bottom: 12px;
    margin-left: -40px;

}
.col ul li a{
    text-decoration: none;
    color: #fff;
    margin-left:  5px; ;
    
}
.col ul li:hover a{
    color: rgb(70, 74, 136);
}
.col ul li i{
    color: yellow;
    
}

footer form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}
footer form .far{
    font-size: 18px;
    margin-right: 10px;
}
footer form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
footer form .far{
    color: yellow;
} 
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: #ccc;
    font-size: 25px;
    color: yellow;
}
.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: yellow;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: solid yellow 1px;
    border-bottom: 1px yellow;
}
.copyright{
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: relative;
    top: 5px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
    position: absolute;
}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}
.g1{
    color: red;
}
.g2{
    color: green;
}
.g3{
    color: yellow;
}
.g4{
    color: red;
}
.g6{
    color: rgb(71, 185, 71);
}
.tit h2{
    background:linear-gradient(to right, #00093C, #2d0b00);
    color:white;
    font-size: 45px;
    margin-right: 80px;
    border:red solid;
    margin-left: 15px;
    padding: 20px;
    border-radius: 10px;
    width: 80%;

}

label #btn,
label #cancel{
    font-size: 40px;
    color: black;;
    float: right;
    line-height: 100px;
    margin-right: 20px;
    margin-top: 0;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  
@media (max-width: 660px){
    label #btn{
      display: block;
      
    }
    nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background:linear-gradient(to right, #00093C, #2d0b00);
      top: 180px;
      left: 100%;
      transition: all .8s;
      text-align: centre;
    }
    body img{
        max-width: 90%;
        margin: 0;
        padding: 0;
    }
    nav ul li{
      display: block;
      margin: 25px 0;
      line-height: 30px;
      /* text-align: center; */
        
    }
    nav ul li a{
      font-size: 35px;
        color: white;
        position: relative;
        top: 60px;
        /* text-align: center; */
        font-family: 'Courier New', Courier, monospace;         
    }
    nav ul li a:hover{
        color: yellow;
    }
    nav .active{
        color: yellow;
    }    
    #check:checked ~  ul{
      left: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
    .welc{
        background:linear-gradient(to right, #00093C, #2d0b00);
        width: 85%;
        text-align: center;
        color:white;
        border:red 2px solid;
     }
    .welc h1{
        font-size: 25px;
    }
    .welc:hover {
        height: 100px;
        width: 85%;
    }
    p,ol,ul,ol li{
          font-size: 13px;
          line-height: 25px;
          padding-top: 10px;
          padding-bottom: 10px;
      }
    .sec1, .sec2, .sec3, .sec4{
        margin-left: 15px;
    
      }
    .sec3 ol li{
        padding-left: 0px;
      }
      .sec4 ul li{
        padding-left: 0;
        margin-top: 0;
      }
      .sec0 h2{
        line-height: 50px;
      }
      .layout{
         width: 90%;
         margin-left: 10px;
      }
      .layout p{
        padding: 0;
      }
      
      .tit h2{
        font-size: 23px;
      }
          
    section .contact{
        margin-left: -160px;
    }  
    .ki img{
        width: 90px;
        height: auto;
    
    }
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
    .bak h1{
        font-size: 30px;
    }
    .copyright{
        font-size: 13px;
    }
    section{
        padding-top: 50px;
        padding-left:165px; 
        align-content: center;
        max-width: 100%;
    }
    .contact form{
        background-color: #f2f2f2;
        width: 180%;
        box-shadow: 0px 0px 20px #00000010;
        border-radius: 8px;
        margin-bottom: 20px; 
    }
    .info h2{
        font-size: 25px;
    }
    .info{
        font-size: 13px;
    }
    .med img, .stuff img{
        padding-left: 15px;
    }
}


