
body {
    background-color:azure;
    color: black; 
    padding: 0;
    margin: 0;
    font-family: serif;
    font-size: 18px;
}
nav{
    height: 190px;
    background-color: white;
   /* position: fixed;*/
    width: 100%;
}
.dropdown{
    margin: 0 auto;
}
.logo{
    float: left;
    padding: 5px 0 0 0;
    width: 150px;
    height: auto;
}

nav ul{
    padding: 0;
    margin: 0;
    float: right;
    padding-top: 80px;
}
nav ul li{
    list-style: none;
    padding: 10px;
    font-size: 30px;
    position: relative;
    display: inline-block;
    top: -20px;
    
}
nav ul li a{
    text-decoration: none;
    padding: 10px;
    color: blue;
    line-height: 60%;
    display: block;
    position: relative;
   
}
nav ul li a:hover{
    color: red;
    padding: 10px;
    
}

nav ul ul{
    display: none;
    position: absolute;
     top: 0px;
    
}
nav ul li:hover > ul{
    display:block;
   
}
nav ul ul li{
    width: 250px;
    float: none;
    background: lightblue;
    display:block;
    border-bottom-style: solid;
    border-radius: 40px;
    margin: 5px;
}

nav ul ul ul li{
    position: relative;
    right: 330px;
    top: -70px;
    
}
nav .active{
    color: black;
}
.body {
    margin: 0;
    padding: 20px;
    font-size: 16px;    
}
.body ol li {
    padding: 5px; 
}
.body ol li li{
     list-style-type: square;
}
.body ul li {
    padding: 5px; 
}
.stuff img{
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.consult img{
    float: right;
    height: 500px;
    width: 700px;
    padding-right: 60px; 
    
}
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #45a049;
}
section{
    padding-top: 50px;
    padding-left: 320px;
    align-content: center;
}
.contact{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 90%;
    max-width: 700px;
    box-shadow: 0px 0px 20px #00000010;
    border-radius: 8px;
    margin-bottom: 20px;
    
    
    
}
.co{
    background-color: lightcoral;
    padding: 20px;
    margin: 0;
    text-align: center;
        
}
.info{
    padding: 50px;
    text-align: center;
}
.med img{
    padding: 0;
    padding-right: 0;
    width: 100%;
    
}
.location{
    background-color: darkslategray;
    text-align: center;
    font-size: 30px;
    height: 200px;
    color: white;
    padding-top: 80px;
}

@keyframes layout{
    0%{background-color: aqua;}
    25%{background-color: yellow;}
    50%{background-color: dodgerblue;}
    75%{background-color: red;}
    100%{background-color: lawngreen;
    }
}
.layout{
    background-color: aqua;
    border-style: solid;
    border-color: brown;
    padding: 10px;
    width: 700px;
    border-radius: 10px;
    margin: 0px;
    animation-name: layout;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

.welc{
    border-radius: 20px;
    background-color: darksalmon;
    width: 45%;
    height: 80px;
    padding:10px;
    border-style: solid;
    transition: width 2s, height 4s, transform 2s;
}
.welc:hover {
    width:50%;
    height: 100px;
    background-color: dodgerblue;
}

footer ul{
    background-color: #2e354f;
    font-size: 30px;
    height: 100px;
    margin-bottom: 0;
    padding: 0;
    margin: 0;
    width: 100%;
   
}
footer ul li:hover a{
    color: black;
    background: yellow;
}
.sci li a:hover{
    transform: translateY(-10px);
}
footer li{
    list-style: none;
    display: inline-block;
    padding: 5px;
    padding-top: 30px;
    padding-right: 20px;
}
footer ul li a{
    text-decoration: none;
    color: white;
    border-style: none;
    padding: 30px;
    border-radius: 0px;
    font-family:serif;
    font-weight: lighter;
}
footer ul li i{
    color: royalblue;
}
.checkbtn{
    font-size: 20px;
    color: black;;
    float: right;
    line-height: 100px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  .phone{
    display: none;
}

@media (max-width: 750px){
    .checkbtn{
      display: block;
    }
    .dropdown ul{
      position: absolute;
      width: 100%;
      height: 3000px;
      background: #2c3e50;
      top: 180px;
      left: -100%;
      text-align: center;
    
    }
    nav ul li{
      display: block;
      margin: 30px 0;
      top: -150px;
        
    }
    nav ul li a{
      font-size: 25px;
        color: white;
        position: relative;
        top: 120px;
          
    }
    
    #check:checked ~ .dropdown ul{
      left: 0;
    }
      .welc{
          font-size: 10px;
      }
      p,ol,ul,ol li{
          font-size: 13px;
      }
      .layout{
          width: 550px;
      }
      footer ul li{
          font-size: 20px;
      }
      h2{
          font-size: 20px;
      }
      .consult{
          width: 700px;
          padding-bottom: 20px;
          display: none;
          
      }
      .dropdown ul ul li{
          font-size: 15px;
          right: -460px;
          display: none;
          
      }
    section .contact{
        margin-left: -160px;
    } 
    .phone{
        display:inline;
    } 
    .logo{
        width: 9px;
        height: 5px;
    }
}


